{% extends 'layout/base.html' %}
{% block content %}
    <hr>
    {% for bb in bbs %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{{ bb.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="card-title"
                       href="{% url 'mainapp:bb_detail' pk=bb.pk rubric_pk=bb.rubric.pk %}">{{ bb.title }}</a>
                    <p class="card-text">{{ bb.content|slice:'50' }}</p>
                    <p class="card-text">{{ bb.price }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">{{ bb.created_at }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}